.navbar {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
}

.text {
  margin: 0;
  font-size: 24px;
}


.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.video-container video {
  margin-bottom: 20px;
}

.controls {
  display: none;
  justify-content: center;
  align-items: center;
}

.controls button {
  margin: 0 10px;
}